<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.surviveuni">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".gameCentre.ScoreBoardSystem.ScoreBoardActivity"></activity>
        <activity android:name=".gameCentre.CustomizeActivity" />
        <activity android:name=".gameCentre.CreateAccountSystem.CreateAccountActivity" />
        <activity android:name=".study.StudyGameActivity" />
        <activity android:name=".study.StudyMenu" />
        <activity
            android:name=".gameCentre.LoginSystem.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".sleep.SleepFeedbackActivity" />
        <activity android:name=".sleep.SleepAnswerActivity" />
        <activity android:name=".gameCentre.MainActivity">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity android:name=".sleep.SleepGameActivity" />
        <activity android:name=".sleep.SleepMainActivity" />
        <activity android:name=".social.SocialActivity" />
        <activity android:name=".social.SocialFeedbackActivity" />
        <activity android:name=".social.SocialMain" />
        <activity android:name=".gameCentre.GameActivity" />
        <activity android:name=".gameCentre.GameOverActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>